/*CSS for body*/
body
{
    font-family:"Poppins", sans-serif;
}

.logo{
    font-weight: 700;
}

.nav-link{
    font-weight: 400;
    margin-left: 30px;
}

#search-button, #search-bar{
    border-radius: 50px;
}

.carousel-item{
    height: 60vh;
    overflow: hidden;
}

#carousel-img{
    width: 100%;
    height: auto;
    max-height: 80vh;
    justify-content: center;
}

img{
    height: 600px;
    width: 100px;
}

.container
{
    display:flex;
    background-color: beige;
}

.card-img-top
{
    height: 200px;
    width: 200px;
}

#heading{
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center;
    
}

.container2
{
    background-color: beige;
}

#faq
{
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
}

#background
{
    background-color: beige;
}