.carousel-inner
{   align-items: center;
    height: 500px;
    width: 200px;
    
}

img{
    height: 600px;
    width: 100px;
}

.container
{
    display:flex;
    background-color: beige;
}

.card-img-top
{
    height: 200px;
    width: 200px;
}

#heading{
    padding-top: 50px;
    padding-bottom:50px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
}

.container2
{
    background-color: beige;
}

#faq
{
    padding-top: 50px;
    padding-bottom: 35px;
    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#background
{
    background-color: beige;
}