/*CSS for body*/
body
{
    font-family:"Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
}

.logo{
    font-weight: 700;
}

.nav-link{
    font-weight: 400;
}


#search-button, #search-bar{
    border-radius: 50px;
}

.carousel-item{
    max-height: 90vh;
    overflow: hidden;
}

.card{
    border-radius: 20px;
    height: 600px;
    width: 400px;
    transition: 0.5s;
}

.card:hover{
    height: 610px;
}

.card img{
    border-radius: 20px;
}

.card-title{
    font-size: 25px;
    font-weight: 500;
}

.lead{
    font-size: 15px;
}

.btn-dark{
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
}

